.headshot{

}
.button{
  color: white;
  background-color: black;
  padding: 15px;
}
.button:hover{
  color: lightblue;
}
nav{
  color: black;
  font-weight: bolder;
  background-color: blue;
}
body{
  background: url("../img/onepiece2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table{
  background-color: white;
}
.details{
    background-color: lightblue;
}
.paraHeading{
  font-weight: bold;
  color: white;
  font-size: 25px;
}
.paras{
  font-weight: 200;
  color: white;
  font-size: 18px;
}
#headshot:hover{
  height: 130%;
}
.colSpecific{
  border: 1px solid black;
}
.source{
  color: white;
}

/*table sort*/

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.users{
  color: white;
}
