<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
  <link rel="icon" href="data:;base64,=">
  <title>Details</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bookstore.html">Books</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="Details.html">Details <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->
  <!-- <li class="nav-item">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li> -->
</ul>
</div>
</nav>
<div class="container-fluid">
  <div class="row" id="randomUsersId">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
        <div class="users" v-for="user in users">
            <span class="lastName">User Id: {{ user.userId }}</span>,<br/>
            <span class="lastName">Name: {{ user.firstName }}</span>,
            <span clas="firstName">{{ user.lastName }}</span>
        </div><br/>
        <!-- <a v-bind:href="person.picture.large"><img v-bind:src="person.picture.medium" alt="" id="headshot"></a><br>
        <div class="details">
          <i><b>Source: Google</b></i><br>
          Name : {{person.name.first}} {{person.name.last}}<br>
          Country : {{person.location.timezone.description}}<br>
          D.O.B : {{person.dob.date}}<br>
          Age : {{person.dob.age}}<br>
          Email : <a :href="'mailto:'+person.email" target="_top">{{person.email}}</a><br>
        </div> -->
        <form v-on:submit.prevent="createUser()">
          <div class="users">
            <label for="userFirstName">First Name</label>
            <input type="text" v-model="newUser.firstName" class="form-control" id="userFirstName" placeholder="Omkar">
            <label for="userLastName">Last Name</label>
            <input type="text" v-model="newUser.lastName" class="form-control" id="userLastName" placeholder="Tamhankar">
          </div><br/>
          <input type="submit" value="Create User" class="button">
        </form>
      </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/waiting.app.js"></script>
</body>
</html>
